$black: #000;
$grey: #d0d0d0;
$white: #fff;
@mixin ButtonFont {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 0.125rem;
}
body {
  background-color: #eae9e9;
}
.slider {
  max-width: 40rem;
  margin: 0 auto 5rem auto;
  padding: 1rem 0;
  .buttons {
    text-align: center;
    margin: 3rem 0 0 0;
    .btn {
      display: inline-block;
      box-shadow: 0 0.3rem 0.0625rem rgba(0, 0, 0, 0.5);
      -webkit-box-shadow: 0 0.3rem 0.0625rem rgba(0, 0, 0, 0.5);
      box-shadow: 0 0.375rem 3.75rem #80b7b3;
      line-height: 3.75rem;
      height: 3.75rem;
      border-radius: 1.25rem;
      padding: 0 1.88rem;
      background-color: #80b7b3;
      color: #000;
      cursor: pointer;
      @include ButtonFont;
      margin: 0 2rem 0 0;
      &:last-child {
        margin: 0;
      }
      &:active {
        position: relative;
        top: 3px;
        box-shadow: 0 0.125rem 0.0625rem rgba(0, 0, 0, 0.5);
        -webkit-box-shadow: 0 0.125rem 0.0625rem rgba(0, 0, 0, 0.5);
      }
      &:disabled {
        opacity: 0.5;
      }
    }
  }
  .slider__body {
    overflow: hidden;
    .slider__track {
      display: flex;
      transition: all 0.3s ease 0s;
      .slider__item {
        min-width: 15rem;
        max-height: 10rem;
        & img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
